.navbar {
  background: transparent;

}

#bgnav .navbar {
  background-color: transparent;
  /* Make the navbar background transparent */
  padding: 10px 0;
  /* Optional: Adjust navbar padding */
  padding-left: 60px;
  /* Adjust as needed */
  padding-right: 60px;
  /* Adjust as needed */
}

.navbar-nav .nav-link {
  color: black !important;
  font-weight: 400px;
}

.navbar-brand {
  color: black
}

#getintouchbtn {
  background-color: #23A6F0;
}

#Feature {
  background: #c2ecb8;
}