#main {
  background-image: url('/Gallery/circleimg.png');
  background-size: cover; /* Ensures the image covers the entire background */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  padding-top: 40px;
  padding-right: 80px;
  padding-left: 80px; /* Add padding as needed */
}

.navbar {
  background: transparent;

}

#bgnav .navbar {
  background-color: transparent;
  /* Make the navbar background transparent */
  padding: 10px 0;
  /* Optional: Adjust navbar padding */
  padding-left: 60px;
  /* Adjust as needed */
  padding-right: 60px;
  /* Adjust as needed */
}

.navbar-nav .nav-link {
  color: black !important;
  font-weight: 400px;
}

.navbar-brand {
  color: black
}

#bgnav {
  background: linear-gradient(89.83deg, #FFFFFF 14.24%, #FFFFFF 14.25%, rgba(255, 255, 255, 0) 99.55%),
    url('/Gallery/bgimages.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 20px;
  padding-bottom: 220px;
  color: rgb(32, 31, 31);
   width: 100%;
  min-height: 70vh;
  height: auto;
}




#getintouchbtn {
  background-color: #23A6F0;
}

#Feature {
  background: #c2ecb8;
}

/* About us page */
/* #business {
    margin-top: 70px;
    margin-bottom: 20px;
    height: 300px;
} */

#learnmore {
  border: 1.19px solid #23A6F0;
  background-color: white;
  color: #23A6F0;
  border-radius: 44px;
}

#learnmore:hover {
  background-color: #23A6F0;
  /* Change background color on hover */
  color: white;
  /* Change text color on hover */
}

#getcodebtn {

  border: 1.19px solid #23A6F0;
  background-color: #23A6F0;
  color: white;
  border-radius: 44px;
}

#getcodebtn:hover {
  background-color: white;
  color: #23A6F0;
  border: 1.19px solid #23A6F0;
}

#BusinessAdvice {
  background-color:beige;
  margin-top: 0px;
  padding-top: 20px;
  /* padding-left: 50px; */
}

 #cards {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:white;
  }
  
  .card-body {
    background-color: #FAFAFA;
  }
  
  .primary-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #007bff;
    color: white;
    font-size: 20px;
    margin-right: 10px;
  } 

#twobtn{
  padding-top: 20px;
  background-color: beige; 
  padding-bottom: 1px;
}

#footer{
  margin-top: 10px;
    background-color: white;
    padding-top: 20px;
    margin-bottom: 20px;
  }
/* #soss{
    background-color: rgb(134, 131, 131);
    margin-top: 50px;
    height: 400px;
  } */

/* #coverimg{
    padding: 30px;
    background: linear-gradient(89.83deg, #FFFFFF 14.24%, #FFFFFF 14.25%, rgba(255, 255, 255, 0) 99.55%), 
    url('/Gallery/circleimg.png');
    background-size: cover;
    height: 1000px;

  } */